<div>
  <form (submit)="onSubmit()">
    <p>
      <label for="initial-deposit">Initial Deposit</label>
      <input
        type="number"
        name="initial-deposit"
        id="initial-deposit"
        value="0"
        [(ngModel)]="initialDeposit"
      />
    </p>
    <div>
      <div>
        <label for="additional-contribtuions">Additional Monthly Contributions</label>
        <input
          type="number"
          id="additional-contributions"
          name="additional-contributions"
          [(ngModel)]="additionalContribution"
        />
      </div>
    </div>
    <div>
      <label for="APY">APY%</label>
      <input type="number" name="APY" title="APY" [(ngModel)]="APY" />
    </div>
    <div>
      <label for="years">Years</label>
      <input type="number" name="years" title="years" [(ngModel)]="years" />
    </div>
    <div>
      <button type="submit">Calculate</button>
    </div>
  </form>
</div>
